<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>

        <title>About US</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel= "Stylesheet" href="css/main.css" type="text/css">    
    </head>
    <body>
           <h1><a href="/" class="text-dark">About Us</a></h1>

     <header class="container">
     
            <nav class="navigationbar">
                
                    <a href="/items" class="btn btn-outline-primary btn-lg header-button">Items</a>                
                
                    <a href="/requesters" class="btn btn-outline-primary btn-lg header-button">Requesters</a>
                              
                    <a href="/suppliers" class="btn btn-outline-primary btn-lg header-button">Suppliers</a>                             
               
                    <a href="/admin" class="btn btn-outline-primary btn-lg header-button">Admin</a>                          
                
                    <a href="/aboutUs" class="btn btn-outline-primary btn-lg header-button">About Us</a>
              
                    <a href="/contactUs" class="btn btn-outline-primary btn-lg header-button">Contact Us</a>
            </nav>
     <br>

    </header>
           <div> <p>
               We are Software Guild Junior Developers,
               Tasked to develop a web service application for our 
               Final project, We chose to make a useful application that 
               tries to contribute to the society. Our Application 
               attempts to bridge community centers that help 
               homeless people, and under privileged but are need of
               supplies to companies and retailers that want 
               to donate, help or get ride of out of season supplies.
               Our Names are Jacob Chung, Abdiaziz Ali, 
               Abdulmalik Hassan.
               </p>
            </div>


    </body>
</html>
