<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Item Details</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <h1><a href="/" class="text-dark"> Home</a></h1>

        <header class="container" >


            <div class="row m-4">
                <div class="col text-center m-3">
                    <a href="/pokemon" class="btn btn-outline-primary btn-lg">Pokemon</a>
                </div>
                <div class="col text-center m-3">
                    <a href="/items" class="btn btn-outline-primary btn-lg">Items</a>
                </div>
                <div class="col text-center m-3">
                    <a href="/moves" class="btn btn-outline-primary btn-lg">Moves</a>
                </div>
                <div class="col text-center m-3">
                    <a href="/trainers" class="btn btn-outline-primary btn-lg">Trainers</a>
                </div>
            </div>

            <h1><center><span th:text="${singleItem.itemName}"></span></center></h1>
        </header>

        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <div class="row m-4">
                    <div class="col text-center">
                        <span><strong> Item Name: </strong></span> <span th:text="${singleItem.itemName}"></span>
                    </div>
                </div>
                <div class="row m-4">
                    <div class="col text-center">
                        <span><strong> Item ID: </strong></span> <span th:text="${singleItem.itemID}"></span>
                    </div>
                </div>
                <div class="row m-4">
                    <div class="col text-center">
                        <span><strong> Quantity: </strong></span> <span th:text="${singleItem.quantity}"></span>
                    </div>
                </div>
                <div class="row m-4">
                    <div class="col text-center">
                        <span><strong> Description: </strong></span> <span th:text="${singleItem.description}"></span>
                    </div>
                </div>
            
            </div>
        </div>


    </body>

</html>